@theme inline {
  --animate-shine: shine 3s ease-out infinite;
  --animate-gradient-flow: gradientFlow 10s ease 0s infinite normal none running;
  --animate-scroll-down: scrollDown 1s ease-in-out infinite;

  @keyframes shine {
    0% {
      background-position: 200% 0;
    }
    25% {
      background-position: -200% 0;
    }
    100% {
      background-position: -200% 0;
    }
  }

  @keyframes gradientFlow {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  @keyframes scrollDown {
    0% {
      transform: scale(1, 0);
      transform-origin: 0% 0%;
    }
    50% {
      transform: scale(1, 1);
      transform-origin: 0% 0%;
    }
    50.1% {
      transform: scale(1, 1);
      transform-origin: 0% 100%;
    }
    100% {
      transform: scale(1, 0);
      transform-origin: 0% 100%;
    }
  }
}
